<div class="jumbotron">
    <input #term  class="txtStyle" ng-model="weatherInformationList.searchLocation" type="text" placeholder="Enter the location...">
             <button class="buttonclass" ng-click="weatherInformationList.getWeatherInfo(weatherInformationList.searchLocation)">Get Weather Info</button>		
<div><br></br></div>
<div *ngIf="weatherInformationList.weatherInformation.query?.results?.channel?.astronomy"> <b><u>Astronomy</u></b>
	<ul>
		<li> <span> <b>Sunrise:</b> {{ weatherInformationList.weatherInformation.query.results.channel.astronomy.sunrise}}</span></li>
		<li> <span> <b>Sunset:</b> {{ weatherInformationList.weatherInformation.query.results.channel.astronomy.sunset}}</span></li>
	</ul>
</div>

<div *ngIf="weatherInformationList.weatherInformation.query?.results?.channel?.atmosphere"> <b><u>Atmosphere</u></b>
	<ul>
		<li> <span> <b>Humidity:</b> {{ weatherInformationList.weatherInformation.query.results.channel.atmosphere.humidity}}</span></li>
		<li> <span> <b>Pressure:</b> {{ weatherInformationList.weatherInformation.query.results.channel.atmosphere.pressure}}</span></li>
		<li> <span> <b>Rising:</b> {{ weatherInformationList.weatherInformation.query.results.channel.atmosphere.rising}}</span></li>
		<li> <span> <b>Visibility:</b> {{ weatherInformationList.weatherInformation.query.results.channel.atmosphere.visibility}}</span></li>
	</ul>
</div>
<div *ngIf="weatherInformationList.weatherInformation.query?.results?.channel?.item"> <b><u>Forecast</u></b>
	<ul>
			<li ng-repeat='forecastDetail in weatherInformationList.weatherInformation.query.results.channel.item.forecast'>				
			<b>Date:</b> <span>{{ forecastDetail.date}}</span></br>
			 <b>Day:</b> <span style="width:20px;">{{ forecastDetail.day}}</span></br>
			 <b>High:</b> <span>{{ forecastDetail.high}}</span></br>
			 <b>Low:</b> <span>{{ forecastDetail.low}}</span></br>
			 <b>Weather forecast:</b> <span>{{ forecastDetail.text}}</span><br/>
			 <span>--------------------------------------------</span>
		</li>
	</ul>
</div>
<div *ngIf="weatherInformationList.weatherInformation.query?.results?.channel?.location"> <b><u>Location</u></b>
	<ul>
		<li> <span> <b>City:</b> {{ weatherInformationList.weatherInformation.query.results.channel.location.city}}</span></li>
		<li> <span> <b>Country:</b> {{ weatherInformationList.weatherInformation.query.results.channel.location.country}}</span></li>
		<li> <span> <b>Region:</b> {{ weatherInformationList.weatherInformation.query.results.channel.location.region}}</span></li>
	</ul>
</div>

</div>